@media (min-width: 1601px) and (max-width: 1920px) {
    .mainPage {
        &__receipt {
            margin-bottom: -1vh !important;
        }
        &__team {
            margin-bottom: 1vh !important;
        }
        &__teamWrapperDescr {
            padding: 0vh 0 !important;
        }
    }

}