$sizeindex: calc(1vw + 1vh);
$text-color: #333;
$blue-color: #6E9C9F;
$focusLink-color: #348f96;
$activeLink-color: #095257;
$backFooter-color: #F1EADC;
$button-hover: #509498;
$price-color: #998E78;
$grey-color: #909090;
$basket-color: #f8f6f1;